{
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "quoteProps": "preserve",
  "trailingComma": "none",
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 90
}
